@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');

*{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a{
  text-decoration: none;
  color: #333;
}
.frame{
  display: flex;
  gap: 40px;
}
.hexagon{
  width: 400px;
  height: 450px;
  position: relative;
  transition: 0.5s;
}
.shape {
  clip-path: polygon(50% 0, 100% 26%, 100% 74%, 50% 100%, 0 74%, 0% 26%);
  width: inherit;
  height: inherit;
  position: absolute;
  overflow: hidden; /*위로 올라갔을 때 아래 띠 보이지 않게 설정*/
}
.shape img{
  width: inherit;
  height: inherit;
  object-fit: cover;  /*부모와 자식 요소에 width, height가 존재해야함*/
}
.hexagon:nth-child(1) .shape img{
  object-position: right;
}

.hexagon .caption{
  position: absolute;
  width: inherit;
  height: inherit;
  color: #fff;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
}
.hexagon:hover .caption{
  opacity: 1;
  transform: translateY(0);
}
.hexagon:nth-child(1) .caption{
  background: linear-gradient(to top, crimson, transparent);
}
.hexagon:nth-child(2) .caption{
  background: linear-gradient(to top, royalblue, transparent);
}
.hexagon:nth-child(3) .caption{
  background: linear-gradient(to top, yellowgreen, transparent);
}
.hexagon .caption h2{
  font-size: 2em;
}
.hexagon:hover{
  transform: translateY(-60px);
}
.hexagon:before{ /*그림자*/
  content: '';
  position: absolute;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.342), transparent, transparent);
  bottom: -70px;
  transition: 0.5s;
}
.hexagon:hover:before{
  opacity: 0.6;
  transform: scale(0.8);
  bottom: -130px; /*70+60*/
}