@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  line-height: 1.6em;
  background: url('../images/background.png')no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a{
  text-decoration: none;
  color: #333;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500; /*normail 400, bold: 600*/
  margin-top: 0;
}
input, button{
  outline: none;
}
/* Custon checkbox & radio login Form */
.login{
  width: 430px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.185);
}
.login h1{
  text-align: center;
  font-size: 42px;
  margin-bottom: 50px;
}
.login .field{
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
}
/* input => inline-block (기본 너비 값은 텍스트 양의 너비값, 마진 값, 너비 높이 값 가질 수 있음 */
input[type=email],
input[type=password]{
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid #ddd;
  padding-left: 30px;
}
input[type=email]{
  background: url(../images/icon-user.png)no-repeat center left 2px;
}
input[type=password]{
  background: url(../images/icon-password.png)no-repeat center left 2px;
}
/* ::placeholder : 가상클래스 => CSS3버전 */
input[type=email]::placeholder,
input[type=password]::placeholder{
  color: #aaa;
  transition: 0.35s;
  /* visibility: visible; */
}
/* input에서는 click이 아닌 focus를 씀 (선택자:focus) */
input[type=email]:focus,
input[type=password]:focus{
  border-color: #999;
}
/* input을 focus하면 placeholder가 사라지게 설정 */
input[type=email]:focus::placeholder,
input[type=password]:focus::placeholder{
  opacity: 0;
  /* visibility: hidden; */
}
.save-info{
  margin: 30px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.event-info{
  text-align: center;
}
/* label : 인라인 요소 */
.event-info label{
  display: inline-block;
  margin: 5px;
}
.login input[type=button]{
  display: block;
  width: 100%; /*버튼은 block상태여도 너비가 100%안되어 직접 설정해야함*/
  border: none;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #46aef7 100%);
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  font-size: 17px;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
  text-transform: uppercase;
  cursor: pointer;
}
.sns-info{
  text-align: center;
  margin: 25px;
}
.sns-info a i{
  font-size: 26px;
  width: 45px;
  height: 45px;
  line-height: 47px;
  border-radius: 50%;
  color: #fff;
  margin: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
  /* transition: 0.35s; */
}
.sns-info a:nth-child(1) i{
  background: #dd4b39;
}
.sns-info a:nth-child(2) i{
  background-color: #3b5999

}
.sns-info a:nth-child(3) i{
  background-color: #00C300;
}
.sns-info a:nth-child(4) i{
  background-color: #ffdc00;
}
.sns-info a:hover i{
  /* transform: rotateY(360deg); */
}
.sns{
  margin: 10px 0;
}
.signup-info{
  text-align: center;
}
.signup-info span{
  display: block;
}
.signup-info a{
  font-weight: 500;
  text-transform: uppercase;
}
.signup-info a:hover{
  text-decoration: underline;
}
/* Custon Checkbox & Radio */
input[id=save-email],
input[name=event] {
  display: none;
}
input[id=save-email] + em{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url(../images/icon-checkbox.png) no-repeat;
  background-position: left;
  /* 방법1 */
  /* vertical-align: middle;
  margin-top: -2px; */
  /* 방법2 */
  transform: translateY(4px);
}
input[id=save-email]:checked + em{
  background-position: right;
}
input[name=event] + em{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url(../images/icon-radio.png) no-repeat;
  background-position: left;
  transform: translateY(4px);
}
input[name=event]:checked + em{
  background-position: right;
}