@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
  font-size: 26px;
  background-color: #000;
  color: #fff;
  line-height: 1.6em;
}
body.active{/*로그인modal창이 열릴 때 active클래스를 추가하여 뒤에 스크롤 금지 시키기*/
  overflow: hidden;  /*보이는거 이외에는 hidden처리됨 -> 스크롤 안됨*/
}
a{
  text-decoration: none;
  color: #fff;
}
/* Common CSS */
section{
  border-bottom: 10px solid #333;
  position: relative;
}
/* Header */
header{
  overflow: hidden;
  padding: 35px 55px;
  position: absolute;
  width: 100%; /* position을 absolute 하는 순간 인라인블록이 되기 때문에 넓이 설정*/
  z-index: 10;
}
.logo{
  float: left;
}
.sign-in{
  float: right;
}
.logo img{
  width: 170px;
}
.sign-in button{
  background-color: crimson;
  color: #fff;
  border: none;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}
/* Section : Welcome */
.welcome{
  height:80vh; /* width = 800px (1vh = 10px)*/
  background: url(../portfolio-images/welcome.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.welcome:before{
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 800px;
}
.heading h1{
  font-size: 64px;
  line-height: 1.2em;
  margin: 0;
}
.heading h5{
  font-weight: normal;
  margin: 0;
  font-size: 20px;
}
.heading p{
  font-size: 20px;
}
/* GetStarted */
.get-started{
  position: relative;
  display: inline-block; /*자식 태그의 width의 100%로 하기 위해*/
}
.get-started input[type=email],
.get-started button{
  height: 60px;
  border: none;
  outline: none;
  vertical-align: middle;
}
.get-started input[type=email]{
  width: 450px;
  margin-right: -5px;
  font-size: 18px;
  padding-left: 10px;
}
.get-started button {
  width: 220px;
  background-color: crimson;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}
.get-started input[type=email]+ span{ /*placeholder느낌이니까 .get-started span 보다 이렇게 표현*/
  color: #999;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 10px;
  transition: 0.35s;
  pointer-events: none;
}
.get-started input[type=email]:focus +span{
  transform: translateY(-18px);
  font-size: 14px;
}
/* Section : Enjoy, Download, Watch, Create */
.enjoy, .download, .watch, .create {
  height: 500px;
}
.inner{
  width: 1150px;
  margin: auto;
  overflow: hidden; /*자식요소 float */
  position: absolute; /* 중앙 배치*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.desc,
.preview{
  float: left;
}
.desc{
  padding-top: 40px;
  width: 60%;
}
.desc h2{
  font-size: 50px;
  line-height: 1.2em;
}
.preview{
  text-align: center;
  width: 40%;
}
.preview img{
  height: 350px;
}
/* Section : FAQ */
.faq{
  padding: 80px 0;
}
.faq-inner{
  width: 850px;
  margin: auto;
}
.faq-inner h1{
  text-align: center;
  font-size: 50px;
}
input[name=faq-item]{
  display: none;
}
/* .accordion label{} */
input[name=faq-item] +label{
  display: block;
  background-color: #303030;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 3px;
}
.faq-content{
  background-color: #303030;
  padding: 0px;
  margin-bottom: 10px;
  /* display: none; */
  max-height: 0; /*답변의 양에 따라 유동적으로 크기를 조정할 수 있게 설정*/
  overflow: hidden;
  transition: max-height 0.5s; /*max-height에 대해서만 transition적용 기본값: all 0.5s*/
}
/* Checked Function */
input[name=faq-item]:checked + label + .faq-content{
  /* display: block; */
  max-height: 500px; /*답변의 양에 따라 크기를 조정할 수 있게 설정 500px넘어가지 않도록*/
  padding: 15px;   
}
input[name=faq-item] +label span{
  float: right;
  font-size: 30px;
  transition: 0.35s;
}
input[name=faq-item]:checked +label span{
  transform: rotate(45deg);
}
aside{
  text-align: center;
}
aside p{
  font-size: 24px;
}
/* Footer */
footer{
  padding: 50px 0;
  font-size: 12px;
  color: #777;
  line-height: 1.5em;
}
.footer-inner{
  width: 850px;
  margin: auto;
}
.sitemap{
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}
.sitemap h6{
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
}
.items{
  display: inline-block; /*가로배치*/
  width: 24%;
  vertical-align: top;
  line-height: 1.5em;
}
.items a{
  color: #777;
  display: block;
}
.items a:hover{
  text-decoration: underline;
}
/* Login Modal .modal-login과 .login 의 틀을 먼저 잡고 컨텐츠 내용을 적는다 */
.modal-login{ /*검정 오버레이 */
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: none; /* display:none으로 해야하기 때문에 flex로 중앙배치 하지 못함*/
}
.login{
  width: 450px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #777;
  font-size: 15px;
  padding: 50px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.login h1{
  font-size: 30px;
  color: #fff;
}
.login input[type=email],
.login input[type=password]{
  background-color: #333;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 20px 15px;
  margin-bottom: 20px;
  outline: none;
}
.login input[type=button]{
  font-size: 20px;
  width: 100%;
  background-color: crimson;
  color: #fff;
  padding: 18px;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.login p a{
  color: royalblue
}
.save-info{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login a:hover{
  text-decoration: underline;
}
.btn-close{
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}