/* float => none으로 변경 
width=100%아닌 것들 100%로 변경*/
@media(max-width:768px){
  body{
    font-size: 16px;
  }
  .logo img{
    width: 100px;
  }
  header{
    padding: 35px 20px;
  }
  /* Common CSS */
  section{
    padding: 20px;
  }
  /* Section : Welcome */
  .welcome{
    height: 100vh;
  }
  .heading{
    width: 100%;
  }
  .heading h1{
    font-size: 34px;
  }
  /* GetStarted */
  .get-started{
    width: 95%;
  }
  .get-started input[type=email]{
    width: 100%;
    margin-bottom: 15px;
  }
  /* Section : Enjoy, Download, Watch, Create */
  .enjoy, .download, .watch, .create {
    height: auto; /*내용에 맞게 늘리기*/
  }
  .inner{
    width: 100%;
    position: static; /*기본값*/
    transform: translate(0);
  }
  .desc,
  .preview{
    float: none;
    width: 100%;
    text-align: center;
  }
  .preview img{
    width: 100%;
    height: auto;
  }
  .desc h2{
    font-size: 30px;
  }
  /* Change Order */
  .download .inner,
  .create .inner{
    display: flex;
    flex-direction: column;
  }
  .download .inner .desc,
  .create .inner .desc{
    order: 1;
  }
  .download .inner .preview,
  .create .inner .preview{
    order: 2;
  }
  /* Section : FAQ */
  .faq{
    padding: 80px 20px;
  }
  .faq-inner{
    width: 100%;
  }
  .faq-inner h1{
    font-size: 30px;
    line-height: 1.2em;
  }
  input[name=faq-item] +label span{
    font-size: 26px;
  }
  /* Footer */
  .footer-inner{
    width: 100%;
    padding: 50px 20px;
    text-align: center;
  }
  .items{
    width: 48%;
    margin-bottom: 20px;
  }
  /* Login Modal */
  .login{
    width: 100%;
  }
}